.container {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 100px;
    grid-template-areas:
        "body"
        "head";
    height: 100vh;
    width: 100vw;
    /* opcional: ocupa toda altura da tela */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    align-items: center;
    grid-area: head;
    background-color: rgba(127, 0, 0, 0.993);
}

.button {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.562));
    position: relative;
    left: -210px;
    top: -110px;
    width: 650px;
}

.tittle {
    position: relative;
    height: 60px;
}

.body {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: body;
    background: #7b0000;
    background: linear-gradient(216deg, rgba(97, 0, 0, 1) 0%, rgba(186, 0, 0, 1) 50%, rgba(255, 0, 0, 1) 100%);
}

.CardCont {
    margin: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 95%;
    height: 80vh;
}